@media (max-width: 991px) {
}
@media (max-width: 767px) {
	.logo-holder img {
		width: 135px;
		height: auto;
	}
	.footer-top {
		margin-top: 0;
		.footer-logo {
			display: block;
			width: 100%;
			img {
				margin: 0 auto;
				width: 215px;
			}
		}
		.lang-wrap {
			display: block;
			text-align: center;
			width: 100%;
			margin: 0;
		}
	}
}