//* Fonts


//* Variables
$primary-color: #070406;
$secondary-color: #f9c381;
$tertiary-color: #9fa0a4;

$alter-primary-color: #242123;
$alter-secondary-color: #ce9f6a;
$alter-tertiary-color: #7d7f82;

$rgb-primary-color: 7, 4, 6;
$rgb-secondary-color: 249, 195, 129;
$rgb-tertiary-color: 159, 160, 164;

$rgb-alter-primary-color: 36, 33, 35;
$rgb-alter-secondary-color: 206, 159, 106;
$rgb-alter-tertiary-color: 125, 127, 130;

$font-title: sans-serif;
$font-subtitle: sans-serif;
$font-text: sans-serif;

// Default
$error-color: #ff4a4a;
$warning-color: #ffd227;
$info-color: #4ac6ff;
$success-color: #40d565;

$rgb-error-color: 255, 74, 74;
$rgb-warning-color: 255, 210, 39;
$rgb-info-color: 74, 198, 255;
$rgb-success-color: 64, 213, 101;